consumer.rar

ads-integration-service/.env
ads-integration-service/docker-compose.yaml
ads-integration-service/google-ads.yaml

reporting-service/export/*
ads-integration-service/yandex.csv
ads-integration-service/__pycache__/ads_integrations.cpython-310.pyc
ads-integration-service/__pycache__/database.cpython-310.pyc
ads-integration-service/__pycache__/logger.cpython-310.pyc

mae-crm-frontend/*